<style lang=stylus scoped>
main
  text-align justify
  margin auto
  max-width 41em
  padding 0 2em 40vh
  /deep/
    h1
      text-align center
    a
      position relative
      color #073
      transition: all .3s
      &:after
        content: ""
        border-top 1px dashed #073
        position: absolute;
        bottom: -.35em
        left: 0
        transform scale(2,.5)
        transform-origin 0 0
        width 50%
        transition: all .3s
      &:hover
        color #f50
        font-weight bold
        &:after
          border-style solid
          border-color #f50
    a.mdback, .mdref a
      user-select none
      font-size .7em
      color #999
      &:hover
        color #f50
      &:after
        content:none

</style>
<template lang=pug>
main(ref="m")
</template>

<script lang=ls>
import
  \@/ls/html.ls

export default _ = html 'md',{
  beforeRoute:(to, from, next)!~>
    next !->
      $title $(@$refs.m).find("h1")._[0].innerText
}
</script>
