@font-face
  font-family h 
  font-weight 400
  font-display block
  src url("~@/file/font/6du/h/cn.woff2") format('woff2')
  
@font-face
  font-family code 
  font-weight 400
  font-display block
  src url("~@/file/font/6du/code/en.woff2") format('woff2')
  
@font-face
  font-family h 
  font-weight 400
  font-display block
  src url("~@/file/font/6du/h/en.woff2") format('woff2')
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD, U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;

@font-face
  font-family host 
  font-weight 300
  font-display block
  src url("~@/file/font/6du/logo/host.woff2") format('woff2')

@font-face
  font-family html
  font-weight 300
  font-display block
  src url("~@/file/font/6du/html/300/cn.woff2") format('woff2')
  
@font-face
  font-family html
  font-display block
  font-weight 100
  src url("~@/file/font/6du/html/100/cn.woff2") format('woff2')
  
@import "~@/file/font/css/html.styl"


h1,h2,h3,h4,h5,h6
  font-family h
  letter-spacing .04em
  font-weight 400 

html
  font-family html, sans-serif
