.spinMac{
  width:2em;
  height:2em;
  display:inline-block;
  background:url("~@/file/spin/mac.svg") 50% 50% / cover no-repeat;
}

@keyframes spinBar {
  from {}
  to { margin-left: 90%; }
}
.spinBar{
  display:block;
  width: 20em;
  height: 2em;
  position: relative;
  margin:  auto;
  border-radius: 1em;
  background: rgba(0,0,0,.02);
  box-shadow: 0 0 0 0.05em rgba(100,100,100,0.075), 0 0 0 0.25em rgba(0,0,0,0.1), inset 0 0.1em 0.05em rgba(0,0,0,0.1), 0 0.05em rgba(255,255,255,0.7);
  &:before{
    content:""
    border-radius: 50%;
    width: 2em;
    height: 100%;
    background: linear-gradient(#eee, #ddd);
    box-shadow: inset 0 0.15em 0.1em rgba(255,255,255,0.3), inset 0 -0.1em 0.15em rgba(0,0,0,0.15), 0 0 0.25em rgba(0,0,0,0.3);
    display: block;
    animation: spinBar 1.75s ease-in-out infinite alternate;
  }
  &:after{
    content: "";
    position: absolute;
    left: 25%;
    top: 150%;
    color: #555;
    text-shadow: 0 0.1em rgba(255,255,255,0.7);
  }
}

